*/30 * * * * /usr/local/bin/python /app/compute_metrics_script.py  > /proc/1/fd/1 2>/proc/1/fd/2
*/15 * * * * /usr/local/bin/python /app/fake_data_script.py  > /proc/1/fd/1 2>/proc/1/fd/2
# Don't remove the empty line at the end of this file. It is required to run the cron job