black
pulsar-metrics
# pulsar-data-collection==0.2.0rc0
# git+https://github.com/Rocket-Science-Development/pulsar_data_collection.git@manu/local-copy-v2
copulas
catboost
fastapi==0.68.1
uvicorn==0.15.0